/target/
/.settings/
/.classpath
/.project
/dependency-reduced-pom.xml
gcmrc-data-processor.log
/gcmrcsync.props
/gcmrc-data-processor.2017-02-07.log
/gcmrc-data-processor.2017-02-08.log
/gcmrc-sync-config.properties
