<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="gov.usgs.wma.gcmrc.mapper.AqToGdawsMapper">
	
	<!-- Note: SQL primarily taken from AutoProc I
		From AutoProc I 
		Strategy:
		 *   - INSERT time series into staging table
		 *   - DELETE data from main table already existing within the DateTime range of the input time seies
		 *   - INSERT staging table into main table
		 *   - Delete staging table records-->
	
	<!-- Wrapper Qquery to launch all sub-queries -->
	<sql id="insertTimeseriesData">
		<!-- Insert into Staging -->
		<include refid="insertToStage"></include>
		<!-- Delete Overlapping -->
		<include refid="deleteOverlapping"></include>
		<!-- Copy Staging to Main -->
		<include refid="copyStageToMain"></include>
		<!-- Empty Staging -->
		<include refid="emptyStage"></include>
	</sql>
	
	<!-- Insert data into Staging Table -->
	<insert id="insertToStage" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="element" index="index" >
			INTO TIME_SERIES_STAR (SITE_ID, GROUP_ID, MEASUREMENT_DATE, FINAL_VALUE, MAIN_QUALIFIER_ID, DATA_APPROVAL_ID, SOURCE_ID) 
			values (${element.getSiteId()},${element.getGroupId()},${element.getMeasurementDate()}, ${element.getFinalValue()}, ${element.getMainQualifierId()}, ${element.getDataApprovalId()}, ${element.getSourceId()})
		</foreach>
		SELECT * FROM dual
	</insert>
	
	<!-- Delete data from Main Table already existing within the DateTime range of the input time series -->
	<delete id="deleteOverlapping" parameterType="GdawsTimeSeries">
		DELETE From TIME_SERIES_STAR
			Where SITE_ID=#{siteId} And GROUP_ID=#{groupId} And SOURCE_ID=#{sourceId} And MEASUREMENT_DATE >= #{startTime} And MEASUREMENT_DATE <= #{endTime}
	</delete>
	
	<!-- Insert Staging Table into Main Table -->
	<insert id="copyStageToMain">
		Insert Into TIME_SERIES_STAR(SITE_ID, GROUP_ID, MEASUREMENT_DATE, SOURCE_ID, FINAL_VALUE, MAIN_QUALIFIER_ID, DATA_APPROVAL_ID)
			Select SITE_ID, GROUP_ID, MEASUREMENT_DATE, SOURCE_ID, FINAL_VALUE, MAIN_QUALIFIER_ID, DATA_APPROVAL_ID
			From TIME_SERIES_AP_STAGE
			Where SOURCE_ID=#{sourceId}
			log errors into time_series_star_errlog('GdawsAutoProc') reject limit unlimited
	</insert>
	
	<!-- Delete Staging Table records -->
	<sql id="emptyStage">
		truncate table TIME_SERIES_AP_STAGE
	</sql>
</mapper>