<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="aggressiveLazyLoading" value="false"/>
		<setting name="defaultExecutorType" value="BATCH"/>
		<setting name="defaultStatementTimeout" value="300"/>
		<setting name="logImpl" value="SLF4J"/>
		<setting name="autoMappingBehavior" value="PARTIAL"/>
	</settings>

	<typeAliases>
		<typeAlias alias="SiteConfiguration" type="gov.usgs.wma.gcmrc.model.SiteConfiguration"/>
		<typeAlias alias="AutoProcConfiguration" type="gov.usgs.wma.gcmrc.model.AutoProcConfiguration"/>
		<typeAlias alias="GdawsTimeSeries" type="gov.usgs.wma.gcmrc.model.GdawsTimeSeries"/>
		<typeAlias alias="TimeSeriesRecord" type="gov.usgs.wma.gcmrc.model.TimeSeriesRecord"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@${gdaws.dbHost}:${gdaws.dbPort}:${gdaws.dbName}"/>
				<property name="username" value="${gdaws.dbUser}"/>
				<property name="password" value="${gdaws.dbPwd}"/>
			</dataSource>
		</environment>
	</environments>
 	
	<mappers>
		<mapper resource="mybatis/siteConfigMapper.xml"/>
		<mapper resource="mybatis/autoProcConfigMapper.xml"/>
		<mapper resource="mybatis/timeSeries.xml"/>
		<mapper resource="mybatis/timeSeriesTranslation.xml"/>
		<mapper resource="mybatis/cumulativeBedload.xml"/>
		<mapper resource="mybatis/mergeCumulativeLoadCalcs.xml"/>
	</mappers>
    
</configuration>