<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="gov.usgs.wma.gcmrc.mapper.SiteConfigurationMapper">

	<resultMap id="SiteConfigurationMap" type="SiteConfiguration">
		<result property="localSiteId" column="localSiteId"/>
		<result property="localParamId" column="localParamId"/>
		<result property="remoteSiteId" column="remoteSiteId"/>
		<result property="remoteParamId" column="remoteParamId"/>
		<result property="pCode" column="pCode"/>
		<result property="neverPullBefore" column="neverPullBefore"/>
		<result property="neverPullAfter" column="neverPullAfter"/>
		<result property="lastNewPullStart" column="lastNewPullStart"/>
		<result property="lastNewPullEnd" column="lastNewPullEnd"/>
	</resultMap>

	<select id="getAllSites" resultMap="SiteConfigurationMap">
		<include refid="getAllSql"/>
	</select>
	
	<select id="getCount" parameterType="map" resultType="int">
		select count(*)
		FROM (<include refid="getAllSql"/>)
	</select>
	
	<update id="updateNewDataPullTimestamps" parameterType="SiteConfiguration">
		
		MERGE INTO DATA_PROCESSOR_STATE state
		USING (
			SELECT
				#{localSiteId} SITE_ID,
				#{remoteParamId} AQ_TIMESERIES_UNIQUE_ID,
				#{lastNewPullStart} LAST_NEW_DATA_PULL_START,
				#{lastNewPullEnd} LAST_NEW_DATA_PULL_END
			FROM DUAL
		) record
		ON (
			state.SITE_ID = record.SITE_ID AND 
			state.AQ_TIMESERIES_UNIQUE_ID = record.AQ_TIMESERIES_UNIQUE_ID
		)
		WHEN MATCHED THEN UPDATE SET
			state.LAST_NEW_DATA_PULL_START = record.LAST_NEW_DATA_PULL_START,
			state.LAST_NEW_DATA_PULL_END = record.LAST_NEW_DATA_PULL_END
		WHEN NOT MATCHED THEN INSERT (
			SITE_ID,
			AQ_TIMESERIES_UNIQUE_ID,
			LAST_NEW_DATA_PULL_START,
			LAST_NEW_DATA_PULL_END)
			VALUES (
				record.SITE_ID,
				record.AQ_TIMESERIES_UNIQUE_ID,
				record.LAST_NEW_DATA_PULL_START,
				record.LAST_NEW_DATA_PULL_END
			)
	</update>
	
	
	<sql id="getAllSql_DEBUG_SINGLE_SITE_FROM_DUAL">
		SELECT
			9251000 localSiteId,
			5 localParamId,
			'08374550' remoteSiteId,
			'21705b8e5c7a49f6be3aeb86923ea374' remoteParamId,
			'00065' pCode,
			TIMESTAMP '2016-11-8 08:00:00.00 -06:00' neverPullBefore,
			TIMESTAMP '2016-11-9 08:00:00.00 -06:00' neverPullAfter,
			null lastNewPullStart,
			null lastNewPullEnd
		FROM
			dual
	</sql>

	<sql id="getAllSql">
		SELECT
		conf.SITE_ID localSiteId,
		grp.GROUP_ID localParamId,
		site.NWIS_SITE_NO remoteSiteId,
		conf.AQ_TIMESERIES_UNIQUE_ID remoteParamId,
		grp.PARM_CD pCode,
		conf.NEVER_PULL_DATA_BEFORE_DATE neverPullBefore,
		conf.NEVER_PULL_DATA_AFTER_DATE neverPullAfter,
		state.LAST_NEW_DATA_PULL_START lastNewPullStart,
		state.LAST_NEW_DATA_PULL_END lastNewPullEnd
		FROM
		gdaws_aq_sync_config conf INNER JOIN site_star site ON conf.site_id = site.site_id
		INNER JOIN group_name grp ON grp.group_id = conf.group_id
		LEFT OUTER JOIN DATA_PROCESSOR_STATE state ON conf.AQ_TIMESERIES_UNIQUE_ID = state.AQ_TIMESERIES_UNIQUE_ID
		ORDER BY conf.SITE_ID, conf.GROUP_ID
	</sql>
	
</mapper>